/*#square {
  width: 200px;
  height: 200px;
  background-color: red;
}*/
body {
  display: flex;
}

div {
  margin: .5em;
  width: 200px;
  height: 200px;
  background-color: red;
  flex-direction: row;
}

button {
  margin: .5em;
}